@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">

   
</div>
<div class="container-fluid">
    <h1>Planes de Viaje</h1>
    <a>@Html.ActionLink("Administrador", "Index", "Planes") </a>
    <a>@Html.ActionLink("Cliente", "Index", "PlanesCliente") </a>
</div>
